/* Form container */
#platform-form,
.platform-menu-container {
  /* padding: 20px; */
  margin-top: 1em;

  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;

  width: 50vw;
  max-width: 800px;
}

/* Rows (flex containers) */
#platform-form > div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.platform-menu-image-ctn {
  text-align: center;
}

/* Buttons */
button {
  font-family: var(--font-main);
  width: 100%;
}

/* Details text div */
#details-text-div {
  padding: 10px;
  background-color: #e9ecef;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

label {
  font-family: 'sans-serif';
  font-weight: normal;
  font-style: normal;
  font-size: 12pt;
  display: flex !important;
  flex-direction: row;
  margin-left: 60px;
}

label.checkbox {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 16pt;
  /* font-style: normal; */
}

#form-status-label-platform-name {

}

.field {
  display: flex;
  flex-direction: row;
}

#menu {
  /* display: none; */
  width: 100%;
  position: fixed;
  left: 0;
  background-color: var(--color-bg1);
  /* align-items: center; */
  justify-content: center;
  font-size: 16pt;
  font-weight: bold;
  z-index: 3; /* Ensure it's above other content */
  /* pointer-events: none; /\* Prevent the footer from blocking clicks *\/ */
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 0.3s ease-in-out forwards; /* Apply the fadeIn animation */

  display: flex;

  /* flex-direction: column; */
  align-items: stretch;
  overflow: hidden;
  bottom: 100px;
  /* transition: height 0.3s ease; */
}


#form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cancel-save-buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-end;
  margin-top: 1em;
}

.cancel-save-buttons .button {
  /* min-width: 200px; */
}

.button {
  max-width: fit-content;

  background: var(--color-button-off);
  border: 1px solid var(--color-border-on);
  border-radius: 6px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  /* font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif; */
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-browse {
  margin-left: 1em;
}

.input,
.footer-size-input-ctn {
  width: -webkit-fill-available;
  min-height: 40px;

  font-size: 12pt;
  font-weight: 700;

  color: var(--color-text-1);

  background-color: var(--color-bg2);
  border: 1px solid var(--color-border-off);
  border-radius: 6px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px; */
  font-family: var(--font-main);

}

.footer-size-input-ctn {
  display: flex;
  flex-direction: row;
}

.input:hover,
.input:focus,
.input:active,
.button:hover,
.button:focus,
.button:active {
  background-color: var(--color-button-on);
  background-position: 0 0;
  color: #ffffff;
}

input[type="checkbox"] {
  height: 30px;
  width: 30px;
}

.input:focus {
  border: 1px solid var(--color-border-on);
}

input[type="checkbox"]:focus {
  outline: 2px solid var(--color-border-on);
}

.button:active {
  opacity: .5;
}

.dual-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.form-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  color: var(--color-icon);
}
