#galleries {
  /* position: relative; */
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform-style: preserve-3d; /\* Enable 3D transformations *\/ */
  padding-top: 100px;
}

.page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg1);
  opacity: 1;
  transition: transform 0.5s ease;

  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */

  left: 0;
  top: 0;

  z-index: 1;
  margin-top: 100px;
}

.page.active {
  opacity: 1;
  transition: opacity 0.2s ease-out;
  /* transform: translate(-50%, -50%) translateX(0); */
  z-index: 2;
}

/* Slide in from the right for next page */
.page.next {
  transition: opacity 0.2s ease-out;
  /* transform: translate(-50%, -50%) translateX(100%); */
  opacity: 0;
}

/* Slide in from the left for previous page */
.page.prev {
  transition: opacity 0.2s ease-out;
  /* transform: translate(-50%, -50%) translateX(-100%); */
  opacity: 0;
}

/* .page.active { */
/*   opacity: 1; */
/*   transform: translate(-50vw, -50vw) translateX(0) scale(1); /\* Adjusted for centering *\/ */
/*   /\* transition: transform 0.8s linear, opacity 0.1s linear; *\/ */
/*   z-index: 2; */

/*   /\* Slide: *\/ */
/*   /\* transform: translateZ(0) scale(1); *\/ */
/* } */

.page.adjacent {
  opacity: 0;
  transform: translate(-50%, -50%) rotateY(calc(var(--page-rotation-angle) * 1deg)) translateZ(calc(var(--page-rotation-radius) * 1px)); /* Adjusted for centering */

  /* transform: translateX(-100%); /\* Push effect *\/ */
  /* transition: transform 0.8s linear, opacity 0.8s linear; */

  z-index: 1;
}

.page-content {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  gap: 10px;
  padding: 10px;
  /* overflow-y: auto; /\* Allow vertical scrolling *\/ */
  /* width: 100%; */
  /* margin-top: 200px; */
}

.prefs-platform-img {
  max-width: 150px;
}

@keyframes expandEffect {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(5);
    }
}

@keyframes fadeInShadow {
    0% { box-shadow: 0px 0px 0px rgba(255, 255, 255, 0); }
    100% { box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6); }
}

div.game-container.launching {
  /* filter: blur(5px); */
  box-shadow: 0px 0px 75px red;
  /* background-color: red; */
  /* animation: expandEffect 0.5s linear, fadeInShadow 0.4s ease-out; */
  z-index: 500;
}

div.game-container,
div.menu-game-container {
  /* height: 22vw; */
  border: 1px solid var(--color-border);
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;

  cursor: pointer;

  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  /* white-space: nowrap; */
  position: relative; /* Needed for absolute positioning of the label */

  /* width: calc(100vw / 6); /\* Ensure stable width *\/ */
  /* height: calc(120vw / 6); /\* Placeholder height using an aspect ratio *\/ */

}

div.platform-container {
  justify-content: center;
  padding: 0.5em;
}

.game-image {
    width: 100%; /* Ensure images fill the container */
    height: auto; /* Maintain aspect ratio */
    height: 100%;
    /* object-fit: cover; /\* Ensure images fill the space without distortion *\/ */
    /* object-fit: contain; /\* Show full image without cropping *\/ */
    display: block; /* Remove extra space under inline elements */
    /* aspect-ratio: 4 / 3; /\* Prevent layout shifts *\/ */
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    /* transform-origin: center; */
    flex-basis: content;
}

.missing-image {
    object-fit: cover; /* Ensure images fill the space without distortion */
}

.game-label {
  background-color: rgba(0, 0, 0, 0.6); /* Black with 50% transparency */
  margin-top: 5px;
  font-size: 12px;

  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;

  /* color: #333; */
}

.selected {
  outline: 2px solid yellow;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
}

.page-content div img {
  width: 100%;
  /* max-width: 150px; */
}

