:root {
  --font-main: 'Orbitron', sans-serif;
  --glow-color: 167, 230, 255;
  --color-succes: #00ff18;
  --color-icon: #007bff;

  --color-bg1: #0B192C;
  --color-bg2: #1E3E62;

  --color-text-1: #93FFD8;
  --color-text-2: #FFFFFF;
  --color-text-3: rgb(234,0,0); /* big platform names */

  --color-header-bg: #050c16;
  --color-header-border: #1E3E62;
  --color-footer-bg: #050c16;
  --color-footer-border: #1E3E62;

  --color-button-off: #FF4742;
  --color-button-on: #050c16;

  --color-border-on: #FF4742;
  --color-border-off: #1E3E62;

  --slide-rotation-angle: 90deg;
  --slide-rotation-radius: 100px;
  --page-rotation-angle: 0;
  --page-rotation-radius: 0;
}

* {
  box-sizing: border-box; /* Include padding and border in element dimensions */
  /* max-width: 100%; /\* Prevent elements from exceeding the viewport width *\/ */
}

*:focus {
    outline: none;
}

body {
  background-color: var(--color-bg1);
  color: var(--color-text-1);
  font-family: var(--font-main);
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* allow content to grow */
  overflow: hidden;
  cursor: default;

  /* perspective: 600px; */
}

main {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  perspective: 1300px;
  margin: 0;
}

header, footer  {
  padding: 0.5em;
  display: none;
  width: 100%;
  position: fixed;
  left: 0;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  z-index: 3; /* Ensure it's above other content */
  /* pointer-events: none; /\* Prevent the footer from blocking clicks *\/ */
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 0.3s ease-in-out forwards; /* Apply the fadeIn animation */
}

.icon {
  width: 70px;
}

#about-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: var(--color-text-1);
  z-index: 20;
  overflow: hidden;
}

#close-about {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
