:root {
  --font-main: 'Orbitron', sans-serif;
  --glow-color: 167, 0, 255;
  --color-succes: #00ff18;
  --color-icon: #007bff;

  --color-bg1: #0B192C;
  --color-bg2: #1E3E62;

  --color-text-1: #93FFD8;
  --color-text-2: #FFFFFF;
  --color-text-3: rgb(234,0,0); /* big platform names */
  --color-text-footer: #ffffff;

  --color-bg-header: #050c16;
  --color-border-header: #1E3E62;
  --color-bg-footer: #050c16;
  --color-border-footer: #1E3E62;

  --color-button-off: #FF4742;
  --color-button-on: #050c16;

  --color-border-on: #FF4742;
  --color-border-off: #1E3E62;

  --slide-rotation-angle: 90deg;
  --slide-rotation-radius: 100px;
  --page-rotation-angle: 0;
  --page-rotation-radius: 0;
}

.theme-day {
  --color-text-1: #333333;
  --color-text-2: #666666;
  --color-bg-footer: #8badd3;
  --color-text-footer: #1b0c66;
  --color-border-footer: #759cc8;
  --color-bg-header: #3974b8;
  --color-border-header: #3974b8;
  --color-text-game-label: #29f1ea;
}

.theme-night {
  --color-text-1: #ffffff;
  --color-text-2: #dddddd;
  --color-bg-footer: #050c16;
  --color-text-footer: #ffffff;
  --color-border-footer: #1E3E62;

  --color-bg-header: #050c16;

}

.theme-default {
  --color-text-1: #29f1ea;
  --color-text-2: #fff3d8;
  --color-bg-footer: #050c16;
  --color-text-footer: #ffffff;
  --color-border-footer: #1E3E62;
  --color-bg-header: #050c16;
}

* {
  box-sizing: border-box; /* Include padding and border in element dimensions */
  /* max-width: 100%; /\* Prevent elements from exceeding the viewport width *\/ */
}

*:focus {
    outline: none;
}

body {
  /* background-color: var(--color-bg1); */
  /* background-image: url('../../img/sky2.jpg'); */
  color: var(--color-text-1);
  font-family: var(--font-main);
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* allow content to grow */
  overflow: hidden;
  cursor: default;
  transition: background 0.8s ease;

  /* perspective: 600px; */
}

main {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  perspective: 1300px;
  margin: 0;
}

header, footer  {
  padding: 0.5em;
  display: none;
  width: 100%;
  position: fixed;
  left: 0;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  z-index: 3; /* Ensure it's above other content */
  /* pointer-events: none; /\* Prevent the footer from blocking clicks *\/ */
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 0.3s ease-in-out forwards; /* Apply the fadeIn animation */
}

.icon {
  width: 70px;
}

#about-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: var(--color-text-1);
  z-index: 20;
  overflow: hidden;
}

#close-about {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

#circle:hover {
  color: var(--color-text-2);
}
