
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: opacity 0.5s ease;
}

.image-spinner {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* https://codepen.io/t_afif/pen/eYGrZPX */

.spinner-1 {
  width:60px;
  aspect-ratio:1;
  --g: conic-gradient(from -90deg at 10px 10px,#fff 90deg,#0000 0);
  background: var(--g), var(--g), var(--g);
  background-size: 50% 50%;
  animation:i9 1s infinite;
}
@keyframes i9 {
  0%   {background-position:0     0, 10px 10px, 20px 20px}
  33%  {background-position:10px  10px}
  66%  {background-position:0    20px,10px 10px,20px 0   }
  100% {background-position:0     0, 10px 10px, 20px 20px}
}

/* .maze-2 */
.spinner-2 {
  width:70px;
  height:40px;
  outline:2px solid #fff;
  background:
    radial-gradient(farthest-side,#000 90%,#0000) 0 0/8px 8px no-repeat,
    linear-gradient(#fff 0 0) center/10px 100% no-repeat,
    conic-gradient(from  90deg at 10px 10px,#0000 90deg,#fff 0),
    conic-gradient(from -90deg at 60px 30px,#0000 90deg,#fff 0);
  animation:m2 2s infinite;
}
@keyframes m2 {
  0%    {background-position:0    0   ,center}
  12.5% {background-position:50%  0   ,center}
  25%   {background-position:50%  100%,center}
  37.5% {background-position:100% 100%,center}
  50%   {background-position:100% 0   ,center}
  62.5% {background-position:50%  0   ,center}
  75%   {background-position:50%  100%,center}
  82.5% {background-position:0    100%,center}
  100%  {background-position:0    0   ,center}
}

.spinner-3 {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #0000;
  padding: 5px;
  background:
    radial-gradient(farthest-side,#fff 98%,#0000 ) 0 0/20px 20px no-repeat,
    conic-gradient(from 90deg at 10px 10px,#0000 90deg,#fff 0) content-box,
    conic-gradient(from -90deg at 40px 40px,#0000 90deg,#fff 0) content-box,
    #000;
  filter: blur(4px) contrast(10);
  animation: b1 2s infinite;
}
@keyframes b1 {
  0%   {background-position:0 0}
  25%  {background-position:100% 0}
  50%  {background-position:100% 100%}
  75%  {background-position:0% 100%}
  100% {background-position:0% 0}
}

.spinner-4 {
  width:55px;
  aspect-ratio:1;
  --g1:conic-gradient(from  90deg at top    3px left  3px,#0000 90deg,#fff 0);
  --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,#fff 0);
  background:
    var(--g1),var(--g1),var(--g1),var(--g1),
    var(--g2),var(--g2),var(--g2),var(--g2);
  background-position:0 0,100% 0,100% 100%,0 100%;
  background-size:25px 25px;
  background-repeat:no-repeat;
  animation:s11 1.5s infinite;
}
@keyframes s11 {
  0%   {background-size:35px 15px,15px 15px,15px 35px,35px 35px}
  25%  {background-size:35px 35px,15px 35px,15px 15px,35px 15px}
  50%  {background-size:15px 35px,35px 35px,35px 15px,15px 15px}
  75%  {background-size:15px 15px,35px 15px,35px 35px,15px 35px}
  100% {background-size:35px 15px,15px 15px,15px 35px,35px 35px}
}

/* .maze-5 */
.spinner-5 {
  width: 70px;
  aspect-ratio: 1;
  background:
    radial-gradient(farthest-side,#000 90%,#0000) 0 0/8px 8px no-repeat,
    conic-gradient(from -90deg at 30px 30px,#0000 90deg,#fff 0) 0 0/40px 40px ,
    conic-gradient(from  90deg at 10px 10px,#0000 90deg,#fff 0) 0 0/40px 40px no-repeat,
    conic-gradient(from -90deg at 30px 30px,#0000 90deg,#fff 0) 100% 100%/40px 40px no-repeat;
  animation:m5 2s infinite;
}
@keyframes m5 {
  0%     {background-position:left 1px top 1px,0 0,0 0,100% 100%}
  16.67% {background-position:left 50% top 1px,0 0,0 0,100% 100%}
  33.33% {background-position:left 50% bottom 1px,0 0,0 0,100% 100%}
  50%    {background-position:right 1px bottom 1px,0 0,0 0,100% 100%}
  66.67% {background-position:right 1px bottom 50%,0 0,0 0,100% 100%}
  83.33% {background-position:left 1px bottom 50%,0 0,0 0,100% 100%}
  100%   {background-position:left 1px top 1px,0 0,0 0,100% 100%}
}

/* .maze-6 */
.spinner-6 {
  width: 70px;
  aspect-ratio: 2;
  background:
    radial-gradient(farthest-side,#000 90%,#0000) 0 0/8px 8px,
    linear-gradient(#fff 0 0) 100% 0/30px 10px,
    linear-gradient(#fff 0 0) 0 100%/30px 10px,
    repeating-linear-gradient(90deg,#fff 0 10px,#0000 0 30px);
  background-repeat:no-repeat;
  animation:m6 2s infinite;
}
@keyframes m6 {
  0%    {background-position:left 1px bottom 1px,100% 0,0 100%,0 0}
  12.5% {background-position:left 50% bottom 1px,100% 0,0 100%,0 0}
  25%   {background-position:left 50% top 1px,100% 0,0 100%,0 0}
  37.5% {background-position:right 1px top 1px,100% 0,0 100%,0 0}
  50%   {background-position:right 1px bottom 1px,0 0,100% 100%,0 0}
  62.5% {background-position:right 50% bottom 1px,0 0,100% 100%,0 0}
  75%   {background-position:right 50% top 1px,0 0,100% 100%,0 0}
  87.5% {background-position:left 1px top 1px,0 0,100% 100%,0 0}
  100%  {background-position:left 1px bottom 1px,100% 0,0 100%,0 0}
}

/* .maze-7 */
.spinner-7 {
  width: 40px;
  aspect-ratio: 1;
  background:
    radial-gradient(farthest-side,#000 90%,#0000) 50%/8px 8px no-repeat,
    conic-gradient(from -90deg at 15px 15px,#0000 90deg,#fff 0) 0 0/25px 25px;
  animation:m7 1s infinite;
}
@keyframes m7 {
  0%   {background-position:50%,0 0}
  50%  {background-position:50%,25px 0}
  100% {background-position:50%,25px 25px}
}

/* .maze-8 */
.spinner-8 {
  width: 40px;
  aspect-ratio: 1;
  background:
    radial-gradient(farthest-side,#000 90%,#0000) 50%/8px 8px no-repeat,
    conic-gradient(from -90deg at 15px 15px,#0000 90deg,#fff 0) 0 0/25px 25px;
  animation:m8 1.5s infinite;
}
@keyframes m8 {
  0%     {background-position:left -10px top 50%,0 0}
  50%    {background-position:right -10px top 50%,0 0}
  50.01% {background-position:right 50% top -10px,0 0}
  100%   {background-position:right 50% bottom -10px,0 0}
}

/* .maze-9 */
.spinner-9 {
  width:70px;
  height:40px;
  outline:2px solid #fff;
  background:
    radial-gradient(farthest-side,red 90%,#0000) 0 0/8px 8px no-repeat,
    radial-gradient(farthest-side,#000 90%,#0000) 0 0/8px 8px no-repeat,
    linear-gradient(#fff 0 0) center/10px 100% no-repeat,
    conic-gradient(from  90deg at 10px 10px,#0000 90deg,#fff 0),
    conic-gradient(from -90deg at 60px 30px,#0000 90deg,#fff 0);
  animation:m9 2s infinite;
}
@keyframes m9 {
  0%    {background-position:50%  100%,0    0   ,center}
  12.5% {background-position:0    100%,50%  0   ,center}
  25%   {background-position:0    0   ,50%  100%,center}
  37.5% {background-position:50%  0   ,100% 100%,center}
  50%   {background-position:50%  100%,100% 0   ,center}
  62.5% {background-position:100% 100%,50%  0   ,center}
  75%   {background-position:100% 0   ,50%  100%,center}
  82.5% {background-position:50%  0   ,0    100%,center}
  100%  {background-position:50%  100%,0    0   ,center}
}

/* .maze-10 */
.spinner-10 {
  height:30px;
  aspect-ratio:2;
  background:
    radial-gradient(farthest-side,red 90%,#0000) 0 0/8px 8px,
    radial-gradient(farthest-side,red 90%,#0000) 0 0/8px 8px,
    radial-gradient(farthest-side,red 90%,#0000) 0 0/8px 8px,
    radial-gradient(farthest-side,red 90%,#0000) 0 0/8px 8px,
    radial-gradient(farthest-side,#000 90%,#0000) 0 0/8px 8px,
    linear-gradient(#fff 0 0) center/100% 10px ,
    linear-gradient(#fff 0 0) right/50% 100%;
  background-repeat:no-repeat;
  animation:m10 2s infinite;
}
@keyframes m10 {
  0% {background-position:top 1px right 1px,right 1px bottom 1px,top 1px left 31px,bottom 1px left 31px, -10px 50%,50%,right}
  50%,
  60%{background-position:top 1px right 1px,right 1px bottom 1px,top 1px left 31px,bottom 1px left 31px,left 75% top 50%,50%,right}
  80% {background-position:75% 50%,75% 50%,75% 50%,75% 50%,left 75% top 50%,50%,right}
  80.01% {background-position:75% 50%,75% 50%,75% 50%,75% 50%,-10px 50%,50%,right}
  100%{background-position:top 1px right 1px,right 1px bottom 1px,top 1px left 31px,bottom 1px left 31px,-10px 50%,50%,right}
}

/* https://codepen.io/t_afif/pen/gOmooGQ */
.spinner-11 {
  width: 40px;
  height: 40px;
  --c: linear-gradient(currentColor 0 0);
  --r1: radial-gradient(farthest-side at bottom,currentColor 93%,#0000);
  --r2: radial-gradient(farthest-side at top   ,currentColor 93%,#0000);
  background:
    var(--c) ,
    var(--r1),
    var(--r2),
    var(--c) ,
    var(--r1),
    var(--r2),
    var(--c) ,
    var(--r1),
    var(--r2);
  background-repeat: no-repeat;
  animation: db1 1s infinite  alternate;
}

@keyframes db1 {
  0%,10% {
    background-size: 8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 90%,100% {
    background-size: 8px 100%,8px 4px, 8px 4px;
    background-position: 0 50%,0 -2px,0 calc(100% + 2px),50% 50%,50% -2px,50% calc(100% + 2px),100% 50%,100% -2px,100% calc(100% + 2px);
 }
}

.spinner-12 {
  width: 40px;
  height: 40px;
  --c: linear-gradient(currentColor 0 0);
  --r1: radial-gradient(farthest-side at bottom,currentColor 93%,#0000);
  --r2: radial-gradient(farthest-side at top   ,currentColor 93%,#0000);
  background:
    var(--c) ,
    var(--r1),
    var(--r2),
    var(--c) ,
    var(--r1),
    var(--r2),
    var(--c) ,
    var(--r1),
    var(--r2);
  background-repeat: no-repeat;
  animation: db2 1s infinite alternate;
}

@keyframes db2 {
  0%,25% {
    background-size: 8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 50% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 75% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 95%,100% {
    background-size: 8px 100%,8px 4px, 8px 4px,8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(0% - 2px),100% calc(100% + 2px);
 }
}

.spinner-13 {
  width: 40px;
  height: 26px;
  --c: linear-gradient(currentColor 0 0);
  background:
    var(--c) 0    100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  background-size:8px calc(100% - 4px);
  background-repeat: no-repeat;
  position: relative;
}
.spinner-13:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background:currentColor;
  left:0;
  top:0;
  animation:
    db3-1 1.5s  linear infinite alternate,
    db3-2 0.75s cubic-bezier(0,200,.8,200) infinite;
}


@keyframes db3-1 {
  100% {left:calc(100% - 8px)}
}

@keyframes db3-2 {
  100% {top:-0.1px}
}


.spinner-14 {
  width: 40px;
  height: 20px;
  --c:radial-gradient(farthest-side,currentColor 93%,#0000);
  background:
    var(--c) 0    0,
    var(--c) 50%  0,
    var(--c) 100% 0;
  background-size:8px 8px;
  background-repeat: no-repeat;
  position: relative;
  animation: db4-0 1s linear infinite alternate;
}
.spinner-14:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background:currentColor;
  left:0;
  top:0;
  animation:
    db4-1 1s  linear infinite alternate,
    db4-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}

@keyframes db4-0 {
  0%      {background-position: 0  100%,50% 0   ,100% 0}
  8%,42%  {background-position: 0  0   ,50% 0   ,100% 0}
  50%     {background-position: 0  0   ,50% 100%,100% 0}
  58%,92% {background-position: 0  0   ,50% 0   ,100% 0}
  100%    {background-position: 0  0   ,50% 0   ,100% 100%}
}

@keyframes db4-1 {
  100% {left:calc(100% - 8px)}
}

@keyframes db4-2 {
  100% {top:-0.1px}
}

.spinner-15 {
  width: 40px;
  height: 30px;
  --c: linear-gradient(currentColor 0 0);
  background:
    var(--c) 0    100%/8px 30px,
    var(--c) 50%  100%/8px 20px,
    var(--c) 100% 100%/8px 10px;
  background-repeat: no-repeat;
  position: relative;
  clip-path: inset(-100% 0);
}
.spinner-15:before{
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background:currentColor;
  left:-16px;
  top:0;
  animation:
    db5-1 2s   linear infinite,
    db5-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}

@keyframes db5-1 {
  0%   {left:-16px;transform:translateY(-8px)}
  100% {left:calc(100% + 8px);transform:translateY(22px)}
}

@keyframes db5-2 {
  100% {top:-0.1px}
}


.spinner-16 {
  width: 40px;
  height: 20px;
  --c:radial-gradient(farthest-side,currentColor 93%,#0000);
  background:
    var(--c) 0    0,
    var(--c) 50%  0;
  background-size:8px 8px;
  background-repeat: no-repeat;
  position: relative;
  clip-path: inset(-200% -100% 0 0);
  animation: db6-0 1.5s linear infinite;
}
.spinner-16:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background:currentColor;
  left:-16px;
  top:0;
  animation:
    db6-1 1.5s linear infinite,
    db6-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}
.spinner-16:after {
  content: "";
  position: absolute;
  inset:0 0 auto auto;
  width:8px;
  height: 8px;
  border-radius: 50%;
  background:currentColor;
  animation: db6-3 1.5s  linear infinite;
}

@keyframes db6-0 {
  0%,30%  {background-position: 0  0   ,50% 0   }
  33%     {background-position: 0  100%,50% 0   }
  41%,63% {background-position: 0  0   ,50% 0   }
  66%     {background-position: 0  0   ,50% 100%}
  74%,100%{background-position: 0  0   ,50% 0   }
}

@keyframes db6-1 {
  90%  {transform:translateY(0)}
  95%  {transform:translateY(15px)}
  100% {transform:translateY(15px);left:calc(100% - 8px)}
}

@keyframes db6-2 {
  100% {top:-0.1px}
}

@keyframes db6-3 {
  0%,80%,100% {transform:translate(0)}
  90%         {transform:translate(26px)}
}

.spinner-17 {
  width: 40px;
  height: 40px;
  --c: linear-gradient(currentColor 0 0);
  background:
    var(--c) 0    0,
    var(--c) 0    100%,
    var(--c) 50%  0,
    var(--c) 50%  100%,
    var(--c) 100% 0,
    var(--c) 100% 100%;
  background-size: 8px 50%;
  background-repeat: no-repeat;
  animation: db7-0 1s infinite;
  position: relative;
  overflow: hidden;
}
.spinner-17:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: currentColor;
  top:calc(50% - 4px);
  left:-8px;
  animation:inherit;
  animation-name:db7-1;
}

@keyframes db7-0 {
 16.67% {background-size:8px 30%, 8px 30%, 8px 50%, 8px 50%, 8px 50%, 8px 50%}
 33.33% {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
 50%    {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
 66.67% {background-size:8px 50%, 8px 50%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
 83.33% {background-size:8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 30%, 8px 30%}
}

@keyframes db7-1 {
 20%  {left:0px}
 40%  {left:calc(50%  - 4px)}
 60%  {left:calc(100% - 8px)}
 80%,
 100% {left:100%}
}

.spinner-18 {
  width: 40px;
  height: 40px;
  --c: linear-gradient(currentColor 0 0);
  background:
    var(--c) 0    0,
    var(--c) 0    100%,
    var(--c) 50%  0,
    var(--c) 50%  100%,
    var(--c) 100% 0,
    var(--c) 100% 100%;
  background-size: 8px 50%;
  background-repeat: no-repeat;
  animation: db8-0 2s infinite;
  position: relative;
  overflow: hidden;
}
.spinner-18:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: currentColor;
  top:calc(50% - 4px);
  left:-8px;
  animation:inherit;
  animation-name:db8-1;
}

@keyframes db8-0 {
 16.67% {background-size:8px 30%, 8px 30%, 8px 50%, 8px 50%, 8px 50%, 8px 50%}
 33.33% {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
 50%    {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
 66.67% {background-size:8px 50%, 8px 50%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
 83.33% {background-size:8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 50%}
}

@keyframes db8-1 {
 20%      {left:0px}
 40%,100% {left:calc(50% - 4px)}
}

.spinner-19 {
  width: 40px;
  height: 40px;
  --c: linear-gradient(currentColor 0 0);
  background:
    var(--c) 0    0,
    var(--c) 0    100%,
    var(--c) 50%  0,
    var(--c) 50%  100%,
    var(--c) 100% 0,
    var(--c) 100% 100%;
  background-size: 8px 50%;
  background-repeat: no-repeat;
  animation: db9-0 2s infinite;
  position: relative;
  overflow: hidden;
}
.spinner-19:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: currentColor;
  top:calc(50% - 4px);
  left:-8px;
  animation:inherit;
  animation-name:db9-1;
}

@keyframes db9-0 {
 16.67% {background-size:8px 30%, 8px 30%, 8px 50%, 8px 50%, 8px 50%, 8px 50%}
 33.33% {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
 50%    {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
 66.67% {background-size:8px 50%, 8px 50%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
 83.33% {background-size:8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 50%}
}

@keyframes db9-1 {
 20%     {left:0px}
 40%,70% {left:calc(50% - 4px)}
 80%,85% {left:8px;top:calc(50% - 4px)}
 100%    {left:8px;top:-8px}
}


.spinner-20 {
  width: 70px;
  height: 30px;
  overflow: hidden;
  position: relative;
}
.spinner-20::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius:50%;
  inset:0;
  margin:auto;
  background: currentColor;
  transform-origin: bottom;
  animation: db10-1 3s infinite;
}
.spinner-20::after {
  content: "";
  position: absolute;
  width:8px;
  height:14px;
  bottom:calc(50% - 4px);
  background: currentColor;
  animation: db10-2 3s infinite;
}

@keyframes db10-1 {
 0%,
 10% {transform:translate(0)     scale(1)  ;box-shadow: 60px 0 ,60px 0}
 20%,
 40% {transform:translate(20px)  scale(1)  ;box-shadow: 60px 0 ,60px 0}
 48% {transform:translate(20px)  scale(1)  ;box-shadow: 8px  0 ,60px 0}
 50% {transform:translate(20px)  scale(1.5);box-shadow: 0    0 ,60px 0}
 58% {transform:translate(20px)  scale(1.5);box-shadow: 0    0 ,8px  0}
 60%,
 70% {transform:translate(20px)  scale(2)  ;box-shadow: 0    0 ,0    0}

 85% {transform:translate(-50px) scale(2)  ;box-shadow: 0    0 ,0    0}
 87% {transform:translate(-50px) scale(1)  ;box-shadow: 0    0 ,0    0}
 100%{transform:translate(0)     scale(1)  ;box-shadow: 0    0 ,0    0}
}

@keyframes db10-2 {
 20%,70% {left:50%}
 0%,10%,85%,100% {left:-25px}
}

