:root {
  --primary: #92d593;
  --primary-dark: #6a22d6;
  --grey-light: #F5F6FA;
  --grey: #645c6b;
  --white: #ffffff;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

body {
  display: flex;
  align-items: center;   /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  height: 100vh;         /* Or any desired height */
  width: 100%;
}

.canvas-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  /* display: flex; */
  align-items: center;   /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  height: 100vh;         /* Or any desired height */
  width: 100%;
}

#audio-control {
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index:2;
  color: #00FFFF;
  cursor:pointer;
}

/* Tube */

.test-tube-container {
  position: absolute; /* Now it can be placed over the canvas */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Higher than canvas */
  padding: 20px;
  /* /\* min-height: 100vh; *\/ */
  /* display: flex; */
  /* /\* position: absolute; *\/ */
  /* /\* margin-top: 35%; *\/ */
  /* margin: auto auto; */
  /* justify-content: center; */
  /* align-items: center; */

}

.test-tube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tube {
  width: 60px;
  height: 150px;
  border-radius: 0px 0px 40px 40px/0 0 50px 50px;
  border: 5px solid #ccc;
  border-top: 0.6rem solid rgba(0, 0, 0, 0);
  z-index: 200;
}

.boil-bubble {
  z-index: -1 !important;
  border-radius: 50%;
  position: absolute;
  animation: bubbleBoil 2s ease-in;
  border: 2px solid rgba(0, 255, 100, 1);
  opacity: 0.8;
  animation-delay: 0.01s;
  transform-origin: center bottom;

  background: rgba(0, 255, 100, 1);

}

@keyframes bubbleBoil {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.0002rem) scale(1.4);
  }
}

.bubble {
  z-index: -1 !important;
  border-radius: 50%;
  position: absolute;
  animation: bubbleMove 2s ease-in;
  border: 1px solid #ccc;
  opacity: 0.02;
  animation-delay: -0.2s;
  transform-origin: center bottom;

  background: radial-gradient(circle, rgba(0, 255, 100, 0.9) 10%, rgba(0, 255, 100, 0.3) 50%);
  box-shadow: 0 0 1px rgba(0, 255, 100, 0.8),
              0 0 2px rgba(0, 255, 100, 0.6),
              0 0 4px rgba(0, 255, 100, 0.4);
  filter: drop-shadow(0px 0px 2px rgba(0, 255, 100, 0.9));

}

@keyframes bubbleMove {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }
  99.1% {
    transform: translateY(-10rem) scale(0.8);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-9.9rem) scale(1.5);
    opacity: 0;
  }
}


.liquid {
  /* position: relative; */
  /* top:50%; */
  /* left: 49.9%; */
  /* transform: translate(-50%, -50%); */
  width: 60px;
  height: 150px;
  /* background: #ccc; */
  /* border: 5px solid #4973ff; */
  border-radius: 0px 0px 40px 40px/0 0 50px 50px;

  overflow: hidden;
  z-index: 600;
}

.wave{
  position: relative;
  width: 100%;
  height: 100%;
  /* background: #4973ff; */
  border-radius: 5%;
  /* box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); */
}
.wave:before,
.wave:after
{
  content: '';
  position: absolute;
  width: 200%;
  height: 105%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.wave:before{
  margin-top: 65px;
  border-radius: 55%;
  border: 145px solid rgba(0, 255, 0, 0.9);
  /* background: rgba(255, 255, 255, 0.9); */
  animation: animate 0.5s linear infinite;
}

/* 91ff77 */

.wave:after{
  margin-top: 65px;
  border-radius: 56%;
  border: 145px solid rgba(0, 205, 0, 0.9);
  animation: animate 0.6s linear infinite;
}

@keyframes animate{
  0%{
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

