:root {
  --primary: #92d593;
  --primary-dark: #6a22d6;
  --grey-light: #F5F6FA;
  --grey: #645c6b;
  --white: #ffffff;
  --color-liquid: #7FCDFF;
  --color-liquid1: #FF00FF;
  --color-liquid2: #AA00FF;
  --color-liquid3: #660099;
  --color-liquid-grad: linear-gradient(#00E5FF, #0099CC, #004466);
  --color-liquid-down: #a8c8e100;

  --color-water-top: rgb(255,228,169);

  --v1: #be91c6;
  --v2: #8a65cc;
  --v3: #5e30d9;
  --transparentv3: #5e30d900;
  --v4: #3b1895;
  --s1: #fea798;
  --s2: #ff846e;
  --cloud: #fea798;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

body {
  display: flex;
  align-items: center;   /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  height: 100vh;         /* Or any desired height */
  width: 100%;
}

.canvas-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  /* display: flex; */
  align-items: center;   /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  height: 100vh;         /* Or any desired height */
  width: 100%;
}

#audio-control {
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index:2;
  color: #00FFFF;
  cursor:pointer;
}

.test-tube-container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 10; /* Higher than canvas */
  padding: 20px;
}

/* Step 1: Initial rise */
.tube-anim-rise1 {
  position: absolute;
  top: 50%;
  left: -35px;
  /* Ensure relative positioning for transforms */
  /* position: relative; */
  animation: rise1 3s ease-in-out forwards;
  animation-play-state: paused;
}

/* @keyframes rise1 { */
/*   from { transform: translateY(0); } */
/*   to   { transform: translateY(-47px); } /\* Adjust as needed *\/ */
/* } */

@keyframes rise1 {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(52vw);
  }
  60% {
    transform: translateX(52vw) rotate(-35deg) translateY(30vh);
  }
  70% {
    transform: translateX(52vw) rotate(-35deg) translateY(30vh);
  }
  100% {
    transform: translateX(45vw) rotate(-35deg) translateY(30vh);
  }
}


/* Step 3: Additional rise (can occur concurrently with step 4) */
.tube-anim-rise2 {
  animation: rise2 2s linear forwards 4s;
  animation-play-state: paused;
}

@keyframes rise2 {
  0% {
    transform: translateX(0) rotate(0);
  }
  100% {
    transform: rotate(35deg) translateX(-6vh) translateY(-10vw);
  }
}

.fake-liquid {
  opacity: 0;
  width: 142px;
  height: 190px;
  background-color: #7FCDFF;
  transform-origin: top left;

  transform: rotate(35deg);

  margin: auto auto;
  animation: rotate-liquid 3s ease-in-out forwards 4s;
  animation-play-state: paused;
}


@keyframes rotate-liquid {
  from { rotate(0); }
  to   { transform: rotate(0deg) translateY(50px); }
}

/* @keyframes rise2 { */
/*   0% { */
/*     transform: translateX(0); */
/*   } */
/*   50% { */
/*     transform: translateX(20px); */
/*   } */
/*   100% { */
/*     transform: translateY(-60px); */
/*   } */
/* } */

.tube-anim-master.start .tube-anim-rise1,
.tube-anim-master.start .tube-anim-rotate1,
.tube-anim-master.start .tube-anim-rise2,
.tube-anim-master.start .tube-anim-rotate2,
.tube-anim-master.start .fake-liquid {
  animation-play-state: running;
}

/* @keyframes riseTube { */
/*   from { */
/*     transform: translate(-50%, -70%); */
/*   } */
/*   to { */
/*     transform: translate(-50%, -90%); */
/*   } */
/* } */

/* /\* Child element: handles the rotation *\/ */
/* .test-tube { */
/*   display: flex; */
/*   flex-direction: column; */
/*   justify-content: center; */
/*   align-items: center; */

/*   /\* Rotation animation delayed by 4s so it starts after riseTube finishes *\/ */
/*   animation: rotateTube 4s ease-out forwards 4s; */
/* } */

/* @keyframes rotateTube { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/*   to { */
/*     transform: rotate(-35deg); */
/*   } */
/* } */

.liquid {
  /* position: relative; */
  /* top:50%; */
  /* left: 49.9%; */
  /* transform: translate(-50%, -50%); */
  width: 60px;
  height: 150px;
  /* background: #ccc; */
  /* border: 5px solid #4973ff; */
  border-radius: 0px 0px 40px 40px/0 0 50px 50px;

  overflow: hidden;
  z-index: 600;
}

.tube {
  overflow: hidden;
  width: 60px;
  height: 150px;
  border-radius: 0px 0px 40px 40px/0 0 50px 50px;
  border: 5px solid #B8E0E9;
  border-top: none;
  z-index: 200;
  /* filter: drop-shadow(0 0 0.75rem #00CC66); */
  filter: var(--glow);
}

.boil-bubble {
  z-index: -1 !important;
  border-radius: 50%;
  position: absolute;
  animation: bubbleBoil 2s ease-in;
  /* border: 2px solid var(--color-liquid); */
  /* opacity: 0.8; */
  animation-delay: 0.01s;
  transform-origin: center bottom;
  opacity: 0.2;
  background: var(--color-liquid-grad);
  background: linear-gradient(var(--color-liquid), var(--color-liquid-down));
}

@keyframes bubbleBoil {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.0002rem) scale(1.4);
  }
}

.bubble {
  z-index: -1 !important;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #ccc;
  opacity: 0.6;
  animation-delay: -0.2s;
  transform-origin: center bottom;

  /* background: radial-gradient(circle, rgba(0, 255, 100, 0.9) 10%, rgba(0, 255, 100, 0.3) 50%); */
  box-shadow: 0 0 1px rgba(0, 255, 100, 0.8),
              0 0 2px rgba(0, 255, 100, 0.6),
              0 0 4px rgba(0, 255, 100, 0.4);
  filter: drop-shadow(0px 0px 2px rgba(0, 255, 100, 0.9));

  animation: bubbleMove 2s ease-in;
}

@keyframes bubbleMove {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }
  99.1% {
    transform: translateY(-15rem) scale(0.8);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-13.9rem) scale(1.5);
    opacity: 0;
  }
}

.wave{
  position: relative;
  width: 100%;
  height: 100%;
  /* background: #4973ff; */
  border-radius: 5%;
  /* box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); */
}
.wave:before,
.wave:after
{
  content: '';
  position: absolute;
  width: 230%;
  height: 105%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.wave:before{
  margin-top: 65px;
  border-radius: var(--wave-before-radius);
  border: 110px solid var(--color-liquid);
  /* box-shadow: */
  /*   0 0 20px #00FFFF, */
  /*   0 0 40px #004466, */
  /*   inset 0 0 10px var(--color-liquid); */
  opacity: 0.6;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: var(--wave-animation-name);
  /* background: rgba(255, 255, 255, 0.9); */
  /* animation: animate ease-in-out infinite alternate; */
}

/* 91ff77 */

.wave:after{
  margin-top: 65px;
  border-radius: var(--wave-before-radius);
  border: 110px solid var(--color-liquid);
  /* box-shadow: */
  /*   0 0 20px #004466, */
  /*   0 0 40px #8A2BE2, */
  /*   inset 0 0 10px var(--color-liquid); */
  opacity: 0.8;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: var(--wave-animation-name);
}

@keyframes animate{
  0%{
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.test-tube-drop {
  display: none;
  transition: opacity 0.02s ease-in;
  position: absolute;
  top: 75px;
  left: 50%;
  margin-left: -2px;
  height: 130px;
  width: 2px;
  background-color: rgba(0, 150, 0);
  filter: drop-shadow(0 0 5px var(--color-liquid)) /* Glow effect */
          drop-shadow(0 0 10px rgba(0, 100, 0, 0.6))
          drop-shadow(0 0 15px rgba(0, 200, 0, 0.4));
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 67vh;
  background-color: red;
}

.pond:after,
.pond:before,
.pond *,
.pond *:after,
.pond *:before {
  position: absolute;
}

.front {
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
}

.pond {
  /* display: none; */
  transition: opacity 2s linear;
  height: 40vh;
  background-image: linear-gradient(var(--v1), var(--s1), var(--v1));
  /* position: relative; */
  z-index: 1;
  overflow: hidden;
}

.lotus {
  width: 10vmin;
  height: 5vmin;
  background: conic-gradient(
    var(--v3) 0deg 40deg,
    var(--transparentv3) 50deg 70deg,
    var(--v3) 80deg
  );
  border-radius: 50%;
}

.lotus-1 {
  bottom: 10vmin;
  right: 5vmin;
  width: 20vmin;
}

.lotus-2 {
  bottom: 20vmin;
  right: 15vmin;
  height: 3vmin;
  transform: skew(-10deg);
  opacity: 0.5;
  mix-blend-mode: multiply;
}

.lotus-3 {
  bottom: 10vmin;
  right: 35vmin;
  transform: rotate(180deg) skew(-20deg);
  opacity: 0.8;
  width: 15vmin;
}

.water {
  z-index: 1;
  top: 66.5%;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100px; */
  background: linear-gradient(var(--color-water-top), rgb(6,66,115));
  overflow: hidden;
  /* box-shadow: inset 0 1px 4px -3px white; */
}

.stone {
  z-index: 2;
  bottom: -5vh;
  left: 0;
  height: 20vmin;
  width: 40vmin;
  background: var(--v4);
  box-shadow: inset 0 0 20px -5px rgba(0, 0, 0, 0.2);
  border-radius: 0% 200% 0 0/0% 200%;
}
.stone:after {
  content: "";
  background: var(--v3);
  width: 100%;
  height: 100%;
  right: -15%;
  border-radius: inherit;
  z-index: -1;
  transform: scaleX(1.3) skew(10deg);
  box-shadow: inset 0 0 20px -5px rgba(0, 0, 0, 0.4);
}

.grass {
  height: 40vmin;
  width: 10vmin;
  border-radius: 0 60% 0 0/0 100% 0 0;
  bottom: 0;
  border-right: 5px solid var(--v4);
  box-shadow: 1px 0 0 var(--s1);
  filter: drop-shadow(-0.5vmin 6vmin 0 var(--s2))
    drop-shadow(-4.5vmin 10vmin 0 var(--v3));
}

.grass-1 {
  left: 14vmin;
  bottom: -2vmin;
  transform: scaleX(-1);
  box-shadow: 2px 0 0 var(--v4);
  border-color: var(--v3);
  filter: drop-shadow(-1vmin 5vmin 0 var(--v3))
    drop-shadow(-80vmin 5vmin 0 var(--v4));
}

.grass-2 {
  right: 0;
  left: auto;
  height: 20vmin;
  bottom: -2vmin;
  transform: scaleX(-1);
}

.reed {
  height: 40vmin;
  width: 0.5vmin;
  bottom: 0;
  left: 10vmin;
  color: var(--v4);
  background: currentColor;
  transform-origin: bottom center;
  transform: rotate(4deg);
  box-shadow: inset -1px 0 0 var(--s2), -6vmin 3vmin 0 0, 80vmin 0 0 0;
  animation: verticalise 20s infinite;
}
.reed-1 {
  color: var(--s2);
  left: 15vmin;
  height: 50vmin;
  bottom: -5vmin;
  transform: rotate(-2deg);
  animation: verticalise-1 20s infinite;
  box-shadow: inset -1px 0 0 var(--s1), 6vmin 13vmin 0 0 var(--s1),
    80vmin 10vmin 0 0 var(--v3);
}
.reed:after {
  content: "";
  width: 1.5vmin;
  height: 10vmin;
  background: currentcolor;
  border-radius: 0.75vmin;
  top: 0;
  left: -0.5vmin;
  box-shadow: inherit;
}
@keyframes verticalise {
  0%,
  10% {
    transform: rotate(4deg);
  }
  30%,
  70% {
    transform: rotate(0);
  }
}
@keyframes verticalise-1 {
  0%,
  10% {
    transform: rotate(-2deg);
  }
  45%,
  70% {
    transform: rotate(0) translateY(-6vmin);
  }
}

.sun-reflection {
  /* background: yellow; */
  border-radius: 50%;
  width: 20vmin;
  height: 20vmin;
  left: calc(51% - 10vmin);
  /* top: 50%; */
  transform: translate3d(0, 28vh, 0);
  animation: rise 16s forwards;
  animation-name: var(--reflect-animation-name);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: var(--reflect-animation-duration);
  box-shadow: 0 0 10px yellow;
}

@keyframes rise {
  100% {
    transform: translate3d(0, -40vh, 20vmin);
  }
}

.sun-container-reflection {
  z-index: 2;
  top: 55%;
  /* background: linear-gradient(var(--color-water-top), blue); */
  /* background: radial-gradient(yellow,  #7FCDFF); */
  /* background: */
  /*   radial-gradient(ellipse at top, var(--color-water-top), transparent), */
  /*   radial-gradient(ellipse at bottom, #7FCDFF, transparent); */
}

.sun-container-reflection .sun-reflection {
  z-index: 1;
  background: linear-gradient(yellow, darkorange);
  box-shadow: none;
  filter: blur(25px);
  opacity: 1;
  top: 0;
  /* transform: translate3d(0, 20vmin, 0); */
  /* animation-duration: 30s; */
  /* animation-iteration-count: forwards; */
  /* animation-name: rise-reflection; */
}

.sun-container {
  overflow: hidden;
  width: 100%;
  height: 40vh;
  top: 66.5vh;
}

.splash {
  z-index: 2;
  width: 8vmin;
  height: 3vmin;
  border: 2px solid var(--s1);
  box-shadow: 0 0 2px var(--s1);
  border-radius: 50%;
  bottom: 5vmin;
  left: 70%;
  animation: splash 9s infinite;
  transform: scale(0);
}

.splash-stone {
  bottom: 15vh;
  left: -3vmin;
  height: 10vmin;
  width: 30vmin;
}

.splash-4 {
  bottom: 5vmin;
  left: auto;
  bottom: 15vmin;
  right: -2vmin;
}

@keyframes splash {
  50%,
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.delay-1 {
  animation-delay: 1s;
}
.delay-2 {
  animation-delay: 2s;
}
.delay-3 {
  animation-delay: 3s;
}
.delay-4 {
  animation-delay: 4s;
}
.delay-5 {
  animation-delay: 5s;
}
.delay-6 {
  animation-delay: 6s;
}
