footer {
  /* text-align: center; */
  padding: inherit;
  justify-content:center;
  text-align: center;

  flex-direction: column;
  align-items: center;

  bottom: 0;
  transition: height 0.3s ease;
  /* border-top: 15px solid var(--footer-bg-color); */
  background-color: var(--footer-bg-color);
}

#footer-content {
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start state */
    }
    to {
        opacity: 1; /* End state */
    }
}

footer #controls {
  display: flex;
  width: 100%;
  flex-direction: row;
}

footer #footer-menu {
  flex-grow: 2;
  text-align: center;
}

.center {
  width: 450px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

footer .center {
  display: flex;
}

.status-item {
  display: flex;
  align-items: center;
  width: 35%;
  gap: 10px;
  /* justify-content: space-between; */
}

.status-item * {
  gap: 10px;
}

#footer-title {
}

.game-menu-container {
  display: flex;
  flex-direction: row;

  margin: 1em;
  padding: 0.5em 1em 1em 1em;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
}

/* .game-menu-container div { */
/* } */

div.game-menu-controls {
  padding-left: 0.5em;
}

.game-menu-image-div {
}

.game-menu-image-div img {
  max-height: 35vh;
}
