/* Form container */
#platform-form {
  /* padding: 20px; */
  margin-top: 1em;

  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
}

/* Rows (flex containers) */
#platform-form > div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

/* Labels */
#platform-form label {
  font-weight: bold;
  min-width: 100px; /* Ensure labels align nicely */
}

/* Input fields */
#platform-form input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Buttons */
button {
  padding: 8px 12px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

#platform-form .button:hover {
  background-color: #0056b3;
}

/* Details text div */
#details-text-div {
  padding: 10px;
  background-color: #e9ecef;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

td.col1 {
  /* width: 400px !important; */
  padding-right: 2em;
}

/* td.col2 { */
/*   width: 100%; */
/* } */

/* td.col3 { */
/*   width: 300px; */
/* } */

input, button {
  width: 100%;
}

.form-checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-status-label {
  margin-left: 0.5em;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 2px solid var(--color-focus); /* Use your custom color variable */
  outline-offset: 2px; /* Optional: Add space between the outline and the element */
}

/* Optional: Remove the default focus ring for specific elements */
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 0 2px var(--color-focus); /* Add a custom focus ring */
}


/* @media (hover: hover) { */
/*   input[type="checkbox"]:not(:disabled):hover { */
/*     background-color: var(--checkbox-hover-color); */
/*     outline: 6px solid var(--checkbox-hover-color); */
/*     transform: scale(1.05); */
/*   } */
/* } */

/* input[type="checkbox"]:focus-visible { */
/*   outline: 6px solid var(--checkbox-hover-color); */
/*   transform: scale(1.05); */
/* } */

/* @media (prefers-reduced-motion: reduce) { */
/*   input[type="checkbox"] { */
/*     transition: none; */
/*   } */
/* } */
