header {
  top: 0;
  display: none;
  justify-content: space-around;
  border-bottom: 1px solid var(--color-bg1);
  height: 101px;
  z-index: 12;
}

header .platform-image img {
  width: 50px;
}

.pages-nav-links {
    transition: opacity 0.2s ease;
    cursor: pointer;
}
