:root {
  --glow-color: 225, 117, 100;
  --highlight-color: #a5be00;
  --color-succes: green;
  --color-info: #007bff;
  --color-disabled: #333;
  --footer-bg-color: rgba(0, 0, 0, 0.9);
  --slide-rotation-angle: 90deg;
  --slide-rotation-radius: 100px;
  --page-rotation-angle: 0;
  --page-rotation-radius: 0;
}

* {
  box-sizing: border-box; /* Include padding and border in element dimensions */
  max-width: 100%; /* Prevent elements from exceeding the viewport width */
}

body {
  background-color: #000814;
  color: #93FFD8;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use min-height to allow content to grow */
  overflow: hidden;
  perspective: 600px; /* Add perspective for 3D effect */
}

a {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold; /* Bold text */
}

main {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  perspective: 600px; /* Add perspective for 3D effect */
  margin: 0;
  /* padding: 100px 0 100px 0; */
}

header, footer  {
  padding: 0.5em;
  display: none;
  width: 100%;
  position: fixed;
  left: 0;
  height: 100px;
  background-color: rgba(0, 0, 0);
  color: white;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  z-index: 3; /* Ensure it's above other content */
  /* pointer-events: none; /\* Prevent the footer from blocking clicks *\/ */
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 1s ease-in-out forwards; /* Apply the fadeIn animation */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.success {
  background-color: var(--color-succes);
}

.info {
  background-color: var(--color-info);
}

.icon {
  width: 70px;
  height: 70px;
}

#loading-screen {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  /* min-width: 100%; */
  /* min-height: 100%; */
  width: 400px;
  background-color: black;
  z-index: 500;
}
