#menu {
  /* display: none; */
  width: 100%;
  position: fixed;
  left: 0;
  background-color: var(--color-bg1);
  color: white;
  /* align-items: center; */
  justify-content: center;
  font-size: 16pt;
  font-weight: bold;
  z-index: 3; /* Ensure it's above other content */
  /* pointer-events: none; /\* Prevent the footer from blocking clicks *\/ */
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 0.3s ease-in-out forwards; /* Apply the fadeIn animation */

  display: flex;

  /* flex-direction: column; */
  align-items: stretch;
  overflow: hidden;
  bottom: 100px;
  /* transition: height 0.3s ease; */
}

#form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.control {
  width: 100%;
}

/* .input { */
/*   width: 70% !important; */
/* } */

.button {
  padding: 0.5em;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  max-width: fit-content;
}

.dual-ctn {
  display: flex;
  flex-direction: row;
}
