#menu {
  /* display: none; */
  width: 100%;
  position: fixed;
  left: 0;
  background-color: var(--color-bg2);
  color: white;
  /* align-items: center; */
  justify-content: center;
  font-size: 16pt;
  font-weight: bold;
  z-index: 3; /* Ensure it's above other content */
  /* pointer-events: none; /\* Prevent the footer from blocking clicks *\/ */
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 0.3s ease-in-out forwards; /* Apply the fadeIn animation */

  display: flex;

  /* flex-direction: column; */
  align-items: stretch;

  bottom: 100px;
  /* transition: height 0.3s ease; */
  /* border-top: 15px solid var(--footer-bg-color); */
}

#form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#menu-container {
  margin: auto auto;
}

.exit-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.exit-menu-container .buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1em;
}

.button {
  margin: 1em;
  height: 55px;
}
