#menu {

  padding: 0.5em;
  /* display: none; */
  width: 100%;
  position: fixed;
  left: 0;
  background-color: var(--color-bg2);
  color: white;
  /* align-items: center; */
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  z-index: 3; /* Ensure it's above other content */
  /* pointer-events: none; /\* Prevent the footer from blocking clicks *\/ */
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 0.3s ease-in-out forwards; /* Apply the fadeIn animation */

  display: flex;

  /* flex-direction: column; */
  align-items: stretch;

  bottom: 100px;
  /* transition: height 0.3s ease; */
  /* border-top: 15px solid var(--footer-bg-color); */
}
